<!DOCTYPE html>

<html>
    
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% block header %} 

{% end %}

</head>

<body>
    <div id="base">
        
        <div id="main-head">
            
             {% block main_header %}{% end %}
        
        </div>
        
        <div id="main-content">
            {% block content %} {% end %}
            
            
        </div>
        <div style="clear: left;"> </div>
        
        
        {% block footer %} {% end %}
    
    </div>
    

</body>
</html>